@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

strong { font-weight: bold; }

body{
  display: flex;
  justify-content: center;
}
.chat-body{
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F3F3F3;
}

header{
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img{
  margin-left: 22px;
}

.messages{
  width: 100%;
  height: 455px;
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  font-family: "Roboto", sans-serif;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  overflow-y: scroll;
}

.time{
  color: #AAAAAA;
}

.message-box{
  padding: 15px 8px;
  width: 359px;
  background-color: white;
  line-height: 20px;
  word-wrap: break-word;
}

.message-inout{
  padding: 15px 8px;
  width: 359px;
  background-color: #DCDCDC;
  line-height: 20px;
  word-wrap: break-word;
}

.message-secret{
  padding: 15px 8px;
  width: 359px;
  background-color: #FFDEDE;
  line-height: 20px;
  word-wrap: break-word;
}

ion-icon[name="people"]{
  font-size: 42.2px;
  margin-right: 22.5px;
}

type-field{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

input[type=text] {
  width: 100%;
  margin: 0px 10px 0px 17px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
}

input:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
  font-style: italic;
}

ion-icon[name="paper-plane-outline"]{
  font-size: 28px;
  margin-right: 18px;
}